.footer
  background-color: $background
  padding: 3rem 1.5rem 6rem
  .icon
    &:hover
        transform: scale(1.1)
  #back_top
    transition: 0.3s
    &:hover
        .icon
            transform: translateY(-5px)